* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Minecraft,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

window#waybar {
  background:
  /*static button background*/
  linear-gradient(45deg,
  rgba(82,82,82, 0) 45%,
  rgba(82,82,82, 1) 45%,
  rgba(82,82,82, 1) 61%,
  rgba(82,82,82, 0) 61%
  ),
  linear-gradient(135deg,
  rgba(82,82,82, 0) 39%,
  rgba(82,82,82, 1) 39%,
  rgba(82,82,82, 1) 55%,
  rgba(82,82,82, 0) 55%
  ),

  /*animated empty area*/
  linear-gradient(135deg,
  rgba(82,82,82, 0) 0%,
  rgba(82,82,82, 1) 0%,
  rgba(82,82,82, 1) 2.5%,
  rgba(82,82,82, 0) 2.5%,

  rgba(168, 168, 168, 0) 0%,
  rgba(168, 168, 168, 1) 0%,
  rgba(168, 168, 168, 1) 2.5%,
  rgba(168, 168, 168, 0) 2.5%,

  rgba(168, 168, 168, 0) 5%,
  rgba(168, 168, 168, 1) 5%,
  rgba(168, 168, 168, 1) 7.5%,
  rgba(168, 168, 168, 0) 7.5%,

  rgba(168, 168, 168, 0) 10%,
  rgba(168, 168, 168, 1) 10%,
  rgba(168, 168, 168, 1) 12.5%,
  rgba(168, 168, 168, 0) 12.5%,

  rgba(168, 168, 168, 0) 15%,
  rgba(168, 168, 168, 1) 15%,
  rgba(168, 168, 168, 1) 17.5%,
  rgba(168, 168, 168, 0) 17.5%,

  rgba(168, 168, 168, 0) 20%,
  rgba(168, 168, 168, 1) 20%,
  rgba(168, 168, 168, 1) 22.5%,
  rgba(168, 168, 168, 0) 22.5%,

  rgba(168, 168, 168, 0) 25%,
  rgba(168, 168, 168, 1) 25%,
  rgba(168, 168, 168, 1) 27.5%,
  rgba(168, 168, 168, 0) 27.5%,

  rgba(168, 168, 168, 0) 30%,
  rgba(168, 168, 168, 1) 30%,
  rgba(168, 168, 168, 1) 32.5%,
  rgba(168, 168, 168, 0) 32.5%,

  rgba(168, 168, 168, 0) 35%,
  rgba(168, 168, 168, 1) 35%,
  rgba(168, 168, 168, 1) 37.5%,
  rgba(168, 168, 168, 0) 37.5%
  ),

  linear-gradient(45deg,

  rgba(168, 168, 168, 0) 62.5%,
  rgba(168, 168, 168, 1) 62.5%,
  rgba(168, 168, 168, 1) 65%,
  rgba(168, 168, 168, 0) 65%,

  rgba(168, 168, 168, 0) 67.5%,
  rgba(168, 168, 168, 1) 67.5%,
  rgba(168, 168, 168, 1) 70%,
  rgba(168, 168, 168, 0) 70%,

  rgba(168, 168, 168, 0) 72.5%,
  rgba(168, 168, 168, 1) 72.5%,
  rgba(168, 168, 168, 1) 75%,
  rgba(168, 168, 168, 0) 75%,

  rgba(168, 168, 168, 0) 77.5%,
  rgba(168, 168, 168, 1) 77.5%,
  rgba(168, 168, 168, 1) 80%,
  rgba(168, 168, 168, 0) 80%,

  rgba(168, 168, 168, 0) 82.5%,
  rgba(168, 168, 168, 1) 82.5%,
  rgba(168, 168, 168, 1) 85%,
  rgba(168, 168, 168, 0) 85%,

  rgba(168, 168, 168, 0) 87.5%,
  rgba(168, 168, 168, 1) 87.5%,
  rgba(168, 168, 168, 1) 90%,
  rgba(168, 168, 168, 0) 90%,

  rgba(168, 168, 168, 0) 92.5%,
  rgba(168, 168, 168, 1) 92.5%,
  rgba(168, 168, 168, 1) 95%,
  rgba(168, 168, 168, 0) 95%,

  rgba(168, 168, 168, 0) 97.5%,
  rgba(168, 168, 168, 1) 97.5%,
  rgba(168, 168, 168, 1) 100%,
  rgba(168, 168, 168, 0) 100%,

  rgba(168, 168, 168, 0) 97.5%,
  rgba(168, 168, 168, 1) 97.5%,
  rgba(168, 168, 168, 1) 100%,
  rgba(168, 168, 168, 0) 100%
  );

  border-bottom: 2px solid rgba(82,82,82, 0.25);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
  animation: barAnimation 5s linear infinite;
}

@keyframes barAnimation {
  0% {
    background:
    /*static button background*/
    linear-gradient(45deg,
    rgba(82,82,82, 0) 45%,
    rgba(82,82,82, 1) 45%,
    rgba(82,82,82, 1) 61%,
    rgba(82,82,82, 0) 61%,
    
    rgba(82,82,82, 0) 97.5%,
    rgba(82,82,82, 1) 97.5%,
    rgba(82,82,82, 1) 100%,
    rgba(82,82,82, 0) 100%
    ),
    linear-gradient(135deg,
    rgba(82,82,82, 0) 39%,
    rgba(82,82,82, 1) 39%,
    rgba(82,82,82, 1) 55%,
    rgba(82,82,82, 0) 55%
    ),

    /*animated empty area*/
    linear-gradient(135deg,
    rgba(82,82,82, 0) 0%,
    rgba(82,82,82, 1) 0%,
    rgba(82,82,82, 1) 2.5%,
    rgba(82,82,82, 0) 2.5%,

    rgba(168, 168, 168, 0) 0%,
    rgba(168, 168, 168, 1) 0%,
    rgba(168, 168, 168, 1) 2.5%,
    rgba(168, 168, 168, 0) 2.5%,

    rgba(168, 168, 168, 0) 5%,
    rgba(168, 168, 168, 1) 5%,
    rgba(168, 168, 168, 1) 7.5%,
    rgba(168, 168, 168, 0) 7.5%,

    rgba(168, 168, 168, 0) 10%,
    rgba(168, 168, 168, 1) 10%,
    rgba(168, 168, 168, 1) 12.5%,
    rgba(168, 168, 168, 0) 12.5%,

    rgba(168, 168, 168, 0) 15%,
    rgba(168, 168, 168, 1) 15%,
    rgba(168, 168, 168, 1) 17.5%,
    rgba(168, 168, 168, 0) 17.5%,

    rgba(168, 168, 168, 0) 20%,
    rgba(168, 168, 168, 1) 20%,
    rgba(168, 168, 168, 1) 22.5%,
    rgba(168, 168, 168, 0) 22.5%,

    rgba(168, 168, 168, 0) 25%,
    rgba(168, 168, 168, 1) 25%,
    rgba(168, 168, 168, 1) 27.5%,
    rgba(168, 168, 168, 0) 27.5%,

    rgba(168, 168, 168, 0) 30%,
    rgba(168, 168, 168, 1) 30%,
    rgba(168, 168, 168, 1) 32.5%,
    rgba(168, 168, 168, 0) 32.5%,

    rgba(168, 168, 168, 0) 35%,
    rgba(168, 168, 168, 1) 35%,
    rgba(168, 168, 168, 1) 37.5%,
    rgba(168, 168, 168, 0) 37.5%
    ),

    linear-gradient(45deg,

    rgba(168, 168, 168, 0) 62.5%,
    rgba(168, 168, 168, 1) 62.5%,
    rgba(168, 168, 168, 1) 65%,
    rgba(168, 168, 168, 0) 65%,

    rgba(168, 168, 168, 0) 67.5%,
    rgba(168, 168, 168, 1) 67.5%,
    rgba(168, 168, 168, 1) 70%,
    rgba(168, 168, 168, 0) 70%,

    rgba(168, 168, 168, 0) 72.5%,
    rgba(168, 168, 168, 1) 72.5%,
    rgba(168, 168, 168, 1) 75%,
    rgba(168, 168, 168, 0) 75%,

    rgba(168, 168, 168, 0) 77.5%,
    rgba(168, 168, 168, 1) 77.5%,
    rgba(168, 168, 168, 1) 80%,
    rgba(168, 168, 168, 0) 80%,

    rgba(168, 168, 168, 0) 82.5%,
    rgba(168, 168, 168, 1) 82.5%,
    rgba(168, 168, 168, 1) 85%,
    rgba(168, 168, 168, 0) 85%,

    rgba(168, 168, 168, 0) 87.5%,
    rgba(168, 168, 168, 1) 87.5%,
    rgba(168, 168, 168, 1) 90%,
    rgba(168, 168, 168, 0) 90%,

    rgba(168, 168, 168, 0) 92.5%,
    rgba(168, 168, 168, 1) 92.5%,
    rgba(168, 168, 168, 1) 95%,
    rgba(168, 168, 168, 0) 95%,

    rgba(168, 168, 168, 0) 97.5%,
    rgba(168, 168, 168, 1) 97.5%,
    rgba(168, 168, 168, 1) 100%,
    rgba(168, 168, 168, 0) 100%

    );
  }

  50% {
    background:
    /*static button background*/
    linear-gradient(45deg,
    rgba(168, 168, 168, 0) 45%,
    rgba(168, 168, 168, 1) 45%,
    rgba(168, 168, 168, 1) 61%,
    rgba(168, 168, 168, 0) 61%,

    rgba(168, 168, 168, 0) 97.5%,
    rgba(168, 168, 168, 1) 97.5%,
    rgba(168, 168, 168, 1) 100%,
    rgba(168, 168, 168, 0) 100%
    ),
    linear-gradient(135deg,
    rgba(168, 168, 168, 0) 39%,
    rgba(168, 168, 168, 1) 39%,
    rgba(168, 168, 168, 1) 55%,
    rgba(168, 168, 168, 0) 55%
    ),

    /*animated empty area*/
    linear-gradient(135deg,
    rgba(168, 168, 168, 0) 0%,
    rgba(168, 168, 168, 1) 0%,
    rgba(168, 168, 168, 1) 2.5%,
    rgba(168, 168, 168, 0) 2.5%,

    rgba(168, 168, 168, 0) 2.5%,
    rgba(168, 168, 168, 0.2) 2.5%,
    rgba(168, 168, 168, 0.2) 5%,
    rgba(168, 168, 168, 0) 5%,

    rgba(168, 168, 168, 0) 7.5%,
    rgba(168, 168, 168, 0.2) 7.5%,
    rgba(168, 168, 168, 0.2) 10%,
    rgba(168, 168, 168, 0) 10%,

    rgba(168, 168, 168, 0) 12.5%,
    rgba(168, 168, 168, 0.2) 12.5%,
    rgba(168, 168, 168, 0.2) 15%,
    rgba(168, 168, 168, 0) 15%,

    rgba(168, 168, 168, 0) 17.5%,
    rgba(168, 168, 168, 0.2) 17.5%,
    rgba(168, 168, 168, 0.2) 20%,
    rgba(168, 168, 168, 0) 20%,

    rgba(168, 168, 168, 0) 22.5%,
    rgba(168, 168, 168, 0.2) 22.5%,
    rgba(168, 168, 168, 0.2) 25%,
    rgba(168, 168, 168, 0) 25%,

    rgba(168, 168, 168, 0) 27.5%,
    rgba(168, 168, 168, 0.2) 27.5%,
    rgba(168, 168, 168, 0.2) 30%,
    rgba(168, 168, 168, 0) 30%,

    rgba(168, 168, 168, 0) 32.5%,
    rgba(168, 168, 168, 0.2) 32.5%,
    rgba(168, 168, 168, 0.2) 35%,
    rgba(168, 168, 168, 0) 35%,

    rgba(168, 168, 168, 0) 37.5%,
    rgba(168, 168, 168, 0.2) 37.5%,
    rgba(168, 168, 168, 0.2) 40%,
    rgba(168, 168, 168, 0) 40%
    ),

    linear-gradient(45deg,

    rgba(168, 168, 168, 0) 60%,
    rgba(168, 168, 168, 0.2) 60%,
    rgba(168, 168, 168, 0.2) 62.5%,
    rgba(168, 168, 168, 0) 62.5%,

    rgba(168, 168, 168, 0) 65%,
    rgba(168, 168, 168, 0.2) 65%,
    rgba(168, 168, 168, 0.2) 67.5%,
    rgba(168, 168, 168, 0) 67.5%,

    rgba(168, 168, 168, 0) 70%,
    rgba(168, 168, 168, 0.2) 70%,
    rgba(168, 168, 168, 0.2) 72.5%,
    rgba(168, 168, 168, 0) 72.5%,

    rgba(168, 168, 168, 0) 75%,
    rgba(168, 168, 168, 0.2) 75%,
    rgba(168, 168, 168, 0.2) 77.5%,
    rgba(168, 168, 168, 0) 77.5%,

    rgba(168, 168, 168, 0) 80%,
    rgba(168, 168, 168, 0.2) 80%,
    rgba(168, 168, 168, 0.2) 82.5%,
    rgba(168, 168, 168, 0) 82.5%,

    rgba(168, 168, 168, 0) 85%,
    rgba(168, 168, 168, 0.2) 85%,
    rgba(168, 168, 168, 0.2) 87.5%,
    rgba(168, 168, 168, 0) 87.5%,

    rgba(168, 168, 168, 0) 90%,
    rgba(168, 168, 168, 0.2) 90%,
    rgba(168, 168, 168, 0.2) 92.5%,
    rgba(168, 168, 168, 0) 92.5%,

    rgba(168, 168, 168, 0) 95%,
    rgba(168, 168, 168, 0.2) 95%,
    rgba(168, 168, 168, 0.2) 97.5%,
    rgba(168, 168, 168, 0) 97.5%
    );

  }

  100% {
    background:
    /*static button background*/
    linear-gradient(45deg,
    rgba(82,82,82, 0) 45%,
    rgba(82,82,82, 1) 45%,
    rgba(82,82,82, 1) 61%,
    rgba(82,82,82, 0) 61%,

    rgba(82,82,82, 0) 97.5%,
    rgba(82,82,82, 1) 97.5%,
    rgba(82,82,82, 1) 100%,
    rgba(82,82,82, 0) 100%
    ),
    linear-gradient(135deg,
    rgba(82,82,82, 0) 39%,
    rgba(82,82,82, 1) 39%,
    rgba(82,82,82, 1) 55%,
    rgba(82,82,82, 0) 55%
    ),

    /*animated empty area*/
    linear-gradient(135deg,
    rgba(82,82,82, 0) 0%,
    rgba(82,82,82, 1) 0%,
    rgba(82,82,82, 1) 2.5%,
    rgba(82,82,82, 0) 2.5%,

    rgba(168, 168, 168, 0) 5%,
    rgba(168, 168, 168, 1) 5%,
    rgba(168, 168, 168, 1) 7.5%,
    rgba(168, 168, 168, 0) 7.5%,

    rgba(168, 168, 168, 0) 10%,
    rgba(168, 168, 168, 1) 10%,
    rgba(168, 168, 168, 1) 12.5%,
    rgba(168, 168, 168, 0) 12.5%,

    rgba(168, 168, 168, 0) 15%,
    rgba(168, 168, 168, 1) 15%,
    rgba(168, 168, 168, 1) 17.5%,
    rgba(168, 168, 168, 0) 17.5%,

    rgba(168, 168, 168, 0) 20%,
    rgba(168, 168, 168, 1) 20%,
    rgba(168, 168, 168, 1) 22.5%,
    rgba(168, 168, 168, 0) 22.5%,

    rgba(168, 168, 168, 0) 25%,
    rgba(168, 168, 168, 1) 25%,
    rgba(168, 168, 168, 1) 27.5%,
    rgba(168, 168, 168, 0) 27.5%,

    rgba(168, 168, 168, 0) 30%,
    rgba(168, 168, 168, 1) 30%,
    rgba(168, 168, 168, 1) 32.5%,
    rgba(168, 168, 168, 0) 32.5%,

    rgba(168, 168, 168, 0) 35%,
    rgba(168, 168, 168, 1) 35%,
    rgba(168, 168, 168, 1) 37.5%,
    rgba(168, 168, 168, 0) 37.5%,

    rgba(168, 168, 168, 0) 40%,
    rgba(168, 168, 168, 1) 40%,
    rgba(168, 168, 168, 1) 42.5%,
    rgba(168, 168, 168, 0) 42.5%
    ),

    linear-gradient(45deg,

    rgba(168, 168, 168, 0) 57.5%,
    rgba(168, 168, 168, 1) 57.5%,
    rgba(168, 168, 168, 1) 60%,
    rgba(168, 168, 168, 0) 60%,

    rgba(168, 168, 168, 0) 62.5%,
    rgba(168, 168, 168, 1) 62.5%,
    rgba(168, 168, 168, 1) 65%,
    rgba(168, 168, 168, 0) 65%,

    rgba(168, 168, 168, 0) 67.5%,
    rgba(168, 168, 168, 1) 67.5%,
    rgba(168, 168, 168, 1) 70%,
    rgba(168, 168, 168, 0) 70%,

    rgba(168, 168, 168, 0) 72.5%,
    rgba(168, 168, 168, 1) 72.5%,
    rgba(168, 168, 168, 1) 75%,
    rgba(168, 168, 168, 0) 75%,

    rgba(168, 168, 168, 0) 77.5%,
    rgba(168, 168, 168, 1) 77.5%,
    rgba(168, 168, 168, 1) 80%,
    rgba(168, 168, 168, 0) 80%,

    rgba(168, 168, 168, 0) 82.5%,
    rgba(168, 168, 168, 1) 82.5%,
    rgba(168, 168, 168, 1) 85%,
    rgba(168, 168, 168, 0) 85%,

    rgba(168, 168, 168, 0) 87.5%,
    rgba(168, 168, 168, 1) 87.5%,
    rgba(168, 168, 168, 1) 90%,
    rgba(168, 168, 168, 0) 90%,

    rgba(168, 168, 168, 0) 92.5%,
    rgba(168, 168, 168, 1) 92.5%,
    rgba(168, 168, 168, 1) 95%,
    rgba(168, 168, 168, 0) 95%
    );

  }
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    border-top: #3F3F3F 4px inset;
    border-bottom: #3F3F3F 1px inset;
    margin-bottom: 2px;
}

window#waybar.chromium {
    border-top: #000000 4px inset;
    border-bottom: #000000 1px inset;
    margin-bottom: 2px;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    border-top: #a37800 4px inset;
    border-bottom: #a37800 1px inset;
    margin-bottom: 2px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    border-top: #64727D 4px inset;
    border-bottom: #64727D 1px inset;
    margin-bottom: 2px;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    border-top: #eb4d4b 4px inset;
    border-bottom: #eb4d4b 1px inset;
    margin-bottom: 2px;
}

#mode {
    border-top: #64727D 4px inset;
    border-bottom: #64727D 1px inset;
    margin-bottom: 2px;
    box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-top: #64727D 4px inset;
    border-bottom: #64727D 1px inset;
    margin-bottom: 2px;
}

#battery {
    border-top: #ffffff 4px inset;
    border-bottom: #ffffff 1px inset;
    margin-bottom: 2px;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    border-top: #26A65B 4px inset;
    border-bottom: #26A65B 1px inset;
    margin-bottom: 2px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    border-top: #f53c3c 4px inset;
    border-bottom: #f53c3c 1px inset;
    margin-bottom: 2px;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    border-top: #2980b9 4px inset;
    border-bottom: #2980b9 1px inset;
    margin-bottom: 2px;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    border-top: #2ecc71 4px inset;
    border-bottom: #2ecc71 1px inset;
    margin-bottom: 2px;
    color: #000000;
}

label:focus {
    border-top: #000000 4px inset;
    border-bottom: #000000 1px inset;
    margin-bottom: 2px;
}

#cpu {
    border-top: #2ecc71 4px inset;
    border-bottom: #2ecc71 1px inset;
    margin-bottom: 2px;
    color: #000000;
}

#memory {
    border-top: #9b59b6 4px inset;
    border-bottom: #9b59b6 1px inset;
    margin-bottom: 2px;
}

#disk {
    border-top: #964B00 4px inset;
    border-bottom: #964B00 1px inset;
    margin-bottom: 2px;
}

#backlight {
    border-top: #90b1b1 4px inset;
    border-bottom: #90b1b1 1px inset;
    margin-bottom: 2px;
}

#network {
    border-top: #2980b9 4px inset;
    border-bottom: #2980b9 1px inset;
    margin-bottom: 2px;
}

#network.disconnected {
    border-top: #f53c3c 4px inset;
    border-bottom: #f53c3c 1px inset;
    margin-bottom: 2px;
}

#pulseaudio {
    border-top: #f1c40f 4px inset;
    border-bottom: #f1c40f 1px inset;
    margin-bottom: 2px;
    color: #000000;
}

#pulseaudio.muted {
    border-top: #90b1b1 4px inset;
    border-bottom: #90b1b1 1px inset;
    margin-bottom: 2px;
    color: #2a5c45;
}

#wireplumber {
    border-top: #fff0f5 4px inset;
    border-bottom: #fff0f5 1px inset;
    margin-bottom: 2px;
    color: #000000;
}

#wireplumber.muted {
    border-top: #f53c3c 4px inset;
    border-bottom: #f53c3c 1px inset;
    margin-bottom: 2px;
}

#custom-media {
    border-top: #66cc99 4px inset;
    border-bottom: #66cc99 1px inset;
    margin-bottom: 2px;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    border-top: #66cc99 4px inset;
    border-bottom: #66cc99 1px inset;
    margin-bottom: 2px;
}

#custom-media.custom-vlc {
    border-top: #ffa000 4px inset;
    border-bottom: #ffa000 1px inset;
    margin-bottom: 2px;
}

#temperature {
    border-top: #f0932b 4px inset;
    border-bottom: #f0932b 1px inset;
    margin-bottom: 2px;
}

#temperature.critical {
    border-top: #eb4d4b 4px inset;
    border-bottom: #eb4d4b 1px inset;
    margin-bottom: 2px;
}

#tray {
    border-top: #2980b9 4px inset;
    border-bottom: #2980b9 1px inset;
    margin-bottom: 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    border-top: #eb4d4b 4px inset;
    border-bottom: #eb4d4b 1px inset;
    margin-bottom: 2px;
}

#idle_inhibitor {
    border-top: #2d3436 4px inset;
    border-bottom: #2d3436 1px inset;
    margin-bottom: 2px;
}

#idle_inhibitor.activated {
    border-top: #ecf0f1 4px inset;
    border-bottom: #ecf0f1 1px inset;
    margin-bottom: 2px;
    color: #2d3436;
}

#mpd {
    border-top: #66cc99 4px inset;
    border-bottom: #66cc99 1px inset;
    margin-bottom: 2px;
    color: #2a5c45;
}

#mpd.disconnected {
    border-top: #f53c3c 4px inset;
    border-bottom: #f53c3c 1px inset;
    margin-bottom: 2px;
}

#mpd.stopped {
    border-top: #90b1b1 4px inset;
    border-bottom: #90b1b1 1px inset;
    margin-bottom: 2px;
}

#mpd.paused {
    border-top: #51a37a 4px inset;
    border-bottom: #51a37a 1px inset;
    margin-bottom: 2px;
}

#language {
    border-top: #00b093 4px inset;
    border-bottom: #00b093 1px inset;
    margin-bottom: 2px;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    border-top: #97e1ad 4px inset;
    border-bottom: #97e1ad 1px inset;
    margin-bottom: 2px;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

@keyframes font_color {
  0% {
    color: #cfcfcf;
  }
  50% {
    color: #303030;
  }
  100% {
    color: #cfcfcf;
  }
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 10px 0 10px;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,1.05,.83,1);
    background:
    rgba(0,0,0,0.05),
    linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 1%);


    animation: font_color 5s linear infinite;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#mpd:hover {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 10px 0 10px;
    background:
    rgba(0,0,0,0.3),
    linear-gradient(0deg,rgba(0, 0, 0, 0.7) 99%, rgba(0, 0, 0, 0) 100%);

    animation: font_color 5s linear infinite, button_bck_anim 2s linear infinite;
}

@keyframes button_bck_anim {
  0% {
    background:
    linear-gradient(45deg,rgba(255,255,255,0)0%,rgba(255,255,255,1)0%,rgba(255,255,255,1)0%,rgba(255,255,255,0)0%),
    rgba(0,0,0,0.3),
    linear-gradient(0deg,rgba(48, 48, 48, 0.7) 99%, rgba(0, 0, 0, 0) 100%);
  }
  30% {
    background:
    linear-gradient(45deg,rgba(255,255,255,0)0%,rgba(255,255,255,1)0%,rgba(255,255,255,1)0%,rgba(255,255,255,0)0%),
    rgba(0,0,0,0.3),
    linear-gradient(0deg,rgba(48, 48, 48, 0.7) 99%, rgba(0, 0, 0, 0) 100%);
  }
  60% {
    background:
    linear-gradient(45deg,rgba(255,255,255,0)60%,rgba(255,255,255,1)60%,rgba(255,255,255,1)70%,rgba(255,255,255,0)70%),
    rgba(0,0,0,0.3),
    linear-gradient(0deg,rgba(48, 48, 48, 0.7) 99%, rgba(0, 0, 0, 0) 100%);
  }
  90% {
    background:
    linear-gradient(45deg,rgba(255,255,255,0)90%,rgba(255,255,255,1)90%,rgba(255,255,255,1)100%,rgba(255,255,255,0)100%),
    rgba(0,0,0,0.3),
    linear-gradient(0deg,rgba(48, 48, 48, 0.7) 99%, rgba(0, 0, 0, 0) 100%);
  }
  90% {
    background:
    linear-gradient(45deg,rgba(255,255,255,0)100%,rgba(255,255,255,0)100%,rgba(255,255,255,0)100%,rgba(255,255,255,0)100%),
    rgba(0,0,0,0.3),
    linear-gradient(0deg,rgba(48, 48, 48, 0.7) 99%, rgba(0, 0, 0, 0) 100%);
  }
  100% {
    background:
    linear-gradient(45deg,rgba(255,255,255,0)100%,rgba(255,255,255,0)100%,rgba(255,255,255,0)100%,rgba(255,255,255,0)100%),
    rgba(0,0,0,0.3),
    linear-gradient(0deg,rgba(48, 48, 48, 0.7) 99%, rgba(0, 0, 0, 0) 100%);
  }
}

